@model Fitcard.Web.Models.Categoria

@{
    ViewBag.Title = "Categoria";
}

<h2>Criar Categoria</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.CAT_NOME, "Categoria")
            @Html.TextBoxFor(model => model.CAT_NOME, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <a href="@Url.Action("Index", "Categoria") "class="btn btn-primary">
                    Voltar
                </a>
                <input type="submit" value="Salvar" class="btn btn-primary"/>
            </div>
        </div>
    </div>
}


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
